@import "./../../styles/variables";

.wish__container {
  padding: 20px;

  h2 {
  }

  hr {
    border: 1px solid #eeeeee;
    border-top: none;
  }

  .item {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;

    h2{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    img{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
     &__text__group {
       display: flex;
       flex-direction: column;
       gap: 10px;
     }

    &:hover{
      cursor: pointer;
      border: 1px solid $primary;
    }
  }
}